@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Signika');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor0{
    width: 100%;
    height: 132px;
    border: 0px solid #000;
    
}

.sec1{
    width: auto;
    height: 100%;
   float: left;
}
.sec2{
    
}
.sec3{
    width: auto;
    height: 100%;
    float: right;
    
    
}


@media(max-width:768px){
    
    .contenedor0{
    width: 100%;
    height: auto;
    border: 0px solid #000;
    
}
    
   .sec1 img{
    width: 80%;
    height: 80%;
    float: left;
}
    .sec2{
        display: none;
    }

.sec3 img{
    display: none;
    
    
} 
    
}

/********************BARRA DE NAVEGACION******************************/



header{
    width: 100%;
    background: #d17fcb;
    height: 60px;
    position: relative;
    display: flex;
    line-height: 60px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    
}

#btn-menu{
    display: none;
    
}
header label{
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    
    
}
header label:hover{
    cursor: pointer;
    background:  rgba( 190, 0, 200, 0.586 );
	
    
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    
}




.menu a{
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    text-decoration: none;
    color: #d17fcb;
    border: 2px solid #000;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    margin-left: 3px;
    
}

.menu a:hover{
    background: #f8f38a;
    
}

.menu{
	float: right;
    
}



@media(max-width:768px){
    header label{
        display: block;
       
        
    }
    .menu{
        position: absolute;
        background: #d17fcb;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
        margin-top: 50px;
        

    }
    .menu li:hover{
        background:  rgba( 190, 0, 200, 0.586 );
    }
    
    .menu li{
        border-top: 2px solid;
        
    }
    .menu ul{
        flex-direction: column;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
        margin-top: 50px;
    }
	
	.menu a{
        background: rgba( 248, 243, 138, 0 );
        border-radius: 10px;
        padding: 0px;
        width: auto;
        text-decoration: none;
        color: #f8f820;
        border: 0px solid #000;
        font-family: sans-serif;
        font-weight: bold;
        margin-left: 3px;
        
}

.menu a:hover{
    background: rgba( 248, 243, 138, 0 );
}
	
}










/*********************BASE*******************************/


.base{
    min-height: 100px;
    width: 100%;
   
}

.base img{
    width: 100%;
    height: auto;
}


/*********************************************/




/*********************************************/



.pie{
    background: #222;
    min-height: 300px;
    width: 100%;
    display: flex;
    
    

}

.foot{
    margin: 0px 10px 0px 10px;
    background: rgba( 215, 55, 230, 0 );
    width: 30%;
    margin: 20px;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.foot ul{
    list-style: none;
    
}
.foot a{
    color: #fff;
    text-decoration: none;  
}

.foot a:hover{
    color: #d17fcb;
    transition: all 0.3s;
    transform: scale(2);
}


.det1{
    color: #fff;
     
}

.det11{
    color: #9726c3;
    background: #fff;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px ;
    padding: 5px;
    border: 2px solid ;
    
    
}

.det12{
    color: #c971e8;
    background: #333;
    border-radius: 5px ;
    padding: 3px;
    border: 2px solid #fff;
    margin: 10px
}


#pie3 img{
    height: 150px;
    width: auto;
}



@media(max-width:850px){
    
    
    .det12{
    color: #c971e8;
    background: #333;
    border-radius: 5px ;
    padding: 3px;
    border: 0px solid #fff;
    margin: 0px
}
}

@media(max-width:768px){
  .pie{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
  
    
  
}


.footer2{
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: cursive;
    text-decoration: none;
    padding: 10px;
}
.footer2 a{
    text-decoration: none;
    color: #a91d18;
}
.footer2 a:hover{
    text-decoration: none;
    color: #fff000;
    transition: all 0.5s;
    transform: scale(2)
}
.footer2 h5{
    font-family: arial;
    font-size: 15px;
    font-weight:100;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
}
.copy{
    margin-bottom: 0;
    padding: 0;
}
.footer2 br{
    padding: 0;
    margin: 0;

}